.all-broadcasts-container{
    display: flex;
    flex-wrap: wrap;
}

.broadcast-container{
    background-color: #FDE047;
    width: 30%;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 1%;
}

.broadcast-live{
    background-color:#D9D9D9;
    border-radius: 10px;
    padding: 2%;
    width: 90%;
    margin: auto;
    text-align: center;
}

.broadcast-footer{
    margin: 0% 3%;
    display:flex;
    justify-content: space-between;
}
