.kabse {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-align: center;
}

.kabse :hover {
    background-color: #ccc;
}

.active {
    background-color: #7C2D12;
    color: white;
}